<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeysVault.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="KeysVault.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <KeysVault.Properties.Settings>
            <setting name="KeysVaultDBConnection" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=G:\# Universitate\# Anul IV\# SI\labs\KeysVault\KeysVault.Database\KeysVaultDB.mdf;Integrated Security=True</value>
            </setting>
        </KeysVault.Properties.Settings>
        <KeysVault.App.Properties.Settings>
            <setting name="KeysVaultDBConnection" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|KeysVaultDB.mdf;Integrated Security=True</value>
            </setting>
        </KeysVault.App.Properties.Settings>
    </applicationSettings>
</configuration>